@import "mixins_all.scss";

body{
	background-color: #fff;
	font-family: 'Rubik', sans-serif;
	line-height: 19px;
}

h3{
	color: $text-color;
	font-weight: 400;
	line-height: 33px;
	@include fsr(28);
}

.form-check{
	.form-check-label{
		padding-left: 0;
		padding-top: 2px;
		line-height: 15px;
		@include fsr(11);

		.form-check-input{
			position: relative;
			opacity: 0;
			z-index: -9999;
			margin: 0;
			width: 0;
			height: 0;

			&:checked{
				&+.checkbox-here{
					i{
						opacity: 1;
						@include mt(0.2s);
					}
				}
			}
		}

		a{
			color: $blue-1;
		}

		.checkbox-here{
			float: left;
			position: relative;
			width: 20px;

			i{
				opacity: 0;
				color: $text-color;
				position: absolute;
				line-height: 14px;
				width: 14px;
				text-align: center;
				left: 0;
				top: 0;
				@include mt(0.2s);
				@include fsr(10);
			}
		}
	}
}

.add-to-cart{
	width: 50px;
	height: 50px;
	position: absolute;
	overflow: hidden;
	outline: none;
	top: 50px;
	right: -15px;
	display: block;
	border-radius: 25px;
	background-image: url(../img/add-to-cart.svg);
	background-repeat: no-repeat;
	background-position: 13px center;
	@include mt(0.2s);

	span{
		color: $white;
		text-transform: uppercase;
		line-height: 50px;
		position: absolute;
		top: 0;
		left: 56px;
		opacity: 0;
		@include fsr(14);
		@include mt(0.2s);
	}

	&:hover{
		width: 130px;
		@include mt(0.2s);

		span{
			opacity: 1;
			@include mt(0.2s);
		}
	}
}

.float-columns{
	display: block;

	&:after{
		content: '';
		clear: both;
		display: block;
	}

	div[class*="col-"]{
		float: left;
	}
}

@import "common/media.scss";
