
.card{
	border-radius: 0;
	border: none;
	position: relative;
	@include mt(0.2s);

	&:hover{
		box-shadow: 3px 6px 11px 0 rgba(0,0,0,0.3);
		@include mt(0.4s);

		.card-img-overlay{
			transform: scale(1, 1);
			@include mt(0.4s);
		}
	}
}

.card-header{
	background-color: #F2F2F2;
	border: none;
	padding: 10px 19px 10px 16px;
	min-height: 80px;
	cursor: pointer;
	display: flex;
	@include mt(0.4s);

	h5{
		position: relative;
		line-height: 28px;
		padding-right: 37px;
		font-weight: 400;
		width: 100%;
		margin: auto 0;
		@include fsr(18);

		&:after{
			height: 18px;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			position: absolute;
			right: 0;
			content: "\f107";
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.btn{
			color: $text-color;
			padding: 3px 0;
			background-color: transparent;
		}
	}

	&:hover{
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
		@include mt(0.2s);
	}
}

.card-title{
	color: $white;
	line-height: 36px;
	font-weight: 400;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	margin-top: 20px;
	@include fsr(30);
}

.card-img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 0;
	position: relative;
	z-index: 1;
}

.card-img-overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	z-index: 3;
	transform: scale(0.8, 0.8);
	@include mt(0.4s);

	&:hover{
		text-decoration: none;
	}
}