.nav{
	background-color: #F2F2F2;
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.2);

	.nav-inline{
		padding: 22px 0;
		display: flex;
		justify-content: space-between;
	}

	.nav-link{
		// display: inline-block;
		// vertical-align: middle;
		color: $text-color;
		@include mt(0.2s);

		&:hover{
			color: $blue-1;
			@include mt(0.2s);
		}
	}
}