html
	include ./components/head.jade

	body
		include ./components/header.jade

		.cart-page
			.container
				.row
					.col-md-12
						h3 Корзина

			.cart-list
				.container
					.row
						.cart-titles
							.col-md-5
								h5 Товар
							.col-md-2
								h5 Магазин
							.col-md-3
								.col-inside
									h5 Размер
								.col-inside
									h5 Цвет
							.col-md-2
								h5 Цена
				.container
					.row.border-bottom.flex-column
						.cart-item
							.col-md-5.col-xs-12.flex-1
								.image-name
									img(src="img/cart-test.png", alt="").product-image
									a(href="#").product-name Lightweight College Backpack
									.promo-comment
										.form-group
											input(type="text", value="", placeholder="Промо-код").form-control.form-code
											.icons.promo-ico
											.btn
										.form-group
											input(type="text", placeholder="Комментарий").form-control.form-comment
											.btn
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-2
								p H&M
							.col-md-3.col-xs-8.offset-4.offset-md-0.flex-3
								.col-inside
									.form-group
										input(type="text", value="One size").form-control
										button.img-btn.save
										button.img-btn.discard
								.col-inside
									p Grey
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-4
								.form-group
									p.price.default-price €
									input(type="text", value="99.90").form-control.price
									button.img-btn.save
									button.img-btn.discard
								.show-options
									i.fa.fa-ellipsis-v
									.inside-box
										a(href="#").change-item Изменить
										a(href="#").promo-code Промо-код
										a(href="#").comment Комментарий
										a(href="#") Удалить
						.cart-item
							.col-md-5.col-xs-12.flex-1
								.image-name
									img(src="img/cart-test.png", alt="").product-image
									a(href="#").product-name Lightweight College Backpack
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-2
								p Corso.de
							.col-md-3.col-xs-8.offset-4.offset-md-0.flex-3
								.col-inside
								.col-inside
									p Grey
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-4
								.form-group
									p.price.default-price €
									input(type="text", value="69.90").form-control.price
									button.img-btn.save
									button.img-btn.discard
								.show-options
									i.fa.fa-ellipsis-v
									.inside-box
										a(href="#").change-item Изменить
										a(href="#") Промо-код
										a(href="#") Комментарий
										a(href="#") Удалить
						.cart-item
							.col-md-5.col-xs-12.flex-1
								.image-name
									img(src="img/cart-test.png", alt="").product-image
									a(href="#").product-name Business Casual Leather Watch Waterproof
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-2
								p Corso.de
							.col-md-3.col-xs-8.offset-4.offset-md-0.flex-3
								.col-inside
								.col-inside
									p Silver
							.col-md-2.col-xs-8.offset-4.offset-md-0.flex-4
								p.price € 69.90
								.show-options
									i.fa.fa-ellipsis-v
									.inside-box
										a(href="#") Изменить
										a(href="#") Промо-код
										a(href="#") Комментарий
										a(href="#") Удалить

			.cart-price
				.container
					.row
						.col-md-2.offset-md-8.col-sm-3.offset-sm-6.col-xs-6
							p Скидка:
						.col-md-2.col-sm-3.col-xs-6
							p - € 9.80
					.row
						.col-md-2.offset-md-8.col-sm-3.offset-sm-6.col-xs-6
							p Итого:
						.col-md-2.col-sm-3.col-xs-6
							b € 169.80
					.row
						.col-md-6.offset-md-6
							.price-actions
								.buyer
									p Покупатель:
									.drop-down#buyer
										.visibled
											span User
												i.fa.fa-caret-down
										.inside-box
											a(href="#") User 1
											a(href="#") User 2
											a(href="#") User 3
											a(href="#") User 4


								button.btn.btn-primary Перейти к оплате


		include ./components/footer.jade