html
	include ./components/head.jade

	body
		include ./components/header.jade

		.faq-page
			.container
				.row
					.col-md-12
						h3 Помощь

				.row
					.col-md-12
						.video-container.bg
							// bg клас можно удалить в нем указани только минимальная висота и цвет фона сделано просто для визуального отображения
							i.fa.fa-video-camera

				.row
					.col-md-12
						h3 Остались вопросы?

				.row
					.col-md-8.col-sm-12
						.faq-accordion
							.card
								.card-header.collapsed
									h5 1. На что стоит обратить внимание при заказе через KatCart?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 2. Почему заказы из некоторых онлайн-шопов возможны только через KatCart?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 3. Для каких операционных систем устанавливается KatСart?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 4. Как добавить артикул в корзину расширения?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 5. Как проходит оформление заказа?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 6. Как использовать подарочный купон?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 7. Как проверить заказ?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer
							.card
								.card-header.collapsed
									h5 8. Как оплатить заказ?
								.collapse
									.card-body
										ul
											li размер и цвет, представленные в корзине KatCart, автоматически заменяются согласно правил заказа портала katorg.de и могут отличаться от данных интернет-магазина, но соответствуют Вашему выбору
											li  количество артикулов отражается в счетчике KatCart-расширения
											li максимально возможное количество артикулов в корзине равно 10
											li все внесенные в корзину артикулы оформляются на одного клиента
											li в корзине можно изменить размер/цвет артикулаStift либо удалить его Muelleimer

					.col-md-4.offset-md-0.col-sm-8.offset-sm-2.col-xs-12
						.side-form
							h3 Написать нам
							form
								.form-group
									label(for="form-name") Имя
										sup *
									input(type="text", placeholder="").form-control.error#form-name
									small.form-text Заполните поле

								.form-group
									label(for="form-mail") Email
										sup *
									input(type="email", placeholder="").form-control#form-mail
									small.form-text Заполните поле

								.form-group
									label(for="form-phone") Телефон
										sup *
									input(type="text", placeholder="+38 (000) 555 55 55").form-control#form-phone
									small.form-text Заполните поле

								.form-group
									label(for="form-country") Страна
									select.form-control#form-country
										option(value="1") 1
										option(value="2") 2
										option(value="3") 3
										option(value="4") 4

								.form-group
									label(for="form-qustion") Страна
									textarea.form-control#form-qustion

								.form-group.checkbox-group
									.form-check
										label(for="form-accept").form-check-label
											input(type="checkbox").form-check-input#form-accept
											.checkbox-here
												img(src="img/checkbox.svg", alt="")
												i.fa.fa-check
											| Я принял к сведению заявление о 
											a(href="") защите персональных данных
											| и согласен с тем, что предоставленные мною данные собираются и хранятся в электронном виде. Мои данные должны использоваться исключительно с целью обработки и ответа на мой запрос. Предоставляя контактную форму, я заявляю о своем согласии на обработку.

								button(type="submit").btn.btn-primary Отправить




		include ./components/footer.jade