html
	include ./components/head.jade

	body
		include ./components/header.jade

		.home-page
			.users-actions
				.container
					.row.float-columns
						.col-lg-4.col-md-6.col-12
							.card.big-card
								img(src="img/shops.jpg", alt="").card-img
								a(href="shops.html").card-img-overlay
									.inside.text-md-center
										img(src="img/shopping-online.svg", alt="")
										h5.card-title Магазины

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/orders.jpg", alt="").card-img
								a(href="#").card-img-overlay
									.inside.text-md-center
										img(src="img/shopping.svg", alt="")
										h5.card-title Мои заказы

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/help.jpg", alt="").card-img
								a(href="faq.html").card-img-overlay
									.inside.text-md-center
										img(src="img/speech-bubble.svg", alt="")
										h5.card-title Помощь

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/cart.jpg", alt="").card-img
								a(href="cart.html").card-img-overlay
									.inside.text-md-center
										img(src="img/shape.svg", alt="")
										h5.card-title Корзина

						.col-lg-4.col-md-6.col-12
							.card.sm-card
								img(src="img/payment.jpg", alt="").card-img
								a(href="cart.html").card-img-overlay
									.inside.text-md-center
										img(src="img/credit-card.svg", alt="")
										h5.card-title Оплатить

			.actual
				.container
					.row
						.col-md-12
							h3 Самые актуальные предложения в @katorg.de  

				.most-actual
					.insta-slider
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram


		include ./components/footer.jade



