html
	include ./components/head.jade

	body
		include ./components/header-2.jade

		.home-page
			.users-actions
				.container
					.row.float-columns
						.col-md-4.col-sm-6
							.card.big-card
								img(src="img/shops.jpg", alt="").card-img
								a(href="#").card-img-overlay
									.inside.text-md-center
										img(src="img/shopping-online.svg", alt="")
										h5.card-title Магазины

						.col-md-4.col-sm-6
							.card.sm-card
								img(src="img/orders.jpg", alt="").card-img
								a(href="#").card-img-overlay
									.inside.text-md-center
										img(src="img/shopping.svg", alt="")
										h5.card-title Мои заказы

						.col-md-4.col-sm-6
							.card.sm-card
								img(src="img/help.jpg", alt="").card-img
								a(href="#").card-img-overlay
									.inside.text-md-center
										img(src="img/speech-bubble.svg", alt="")
										h5.card-title Помощь

						.col-md-8.col-sm-6
							.card.sm-card
								img(src="img/cart.jpg", alt="").card-img
								a(href="#").card-img-overlay
									.inside.text-md-center
										img(src="img/shape.svg", alt="")
										h5.card-title Корзина

			.actual
				.container
					.row
						.col-md-12
							h3 Самые актуальные предложения в @katorg.de  

				.most-actual
					.insta-slider
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram
						a(href="#")
							img(src="img/test.png", alt="")
							.inside
								.instagram
									i.fa.fa-instagram


		include ./components/footer.jade



