html
	include ./components/head.jade

	body
		.login-page
			.container-fluid
				.white-back
				.container
					.row
						.col-lg-6.offset-lg-2.col-sm-6.offset-sm-1.col-xs-12
							a(href="/").logo
								img(src="img/logo-login.svg", alt="")
							form(action="home.html")
								.form-group
									label(for="form-email") Email
									input(type="email").form-control#form-email
								.form-group
									a(href="#").forgot-password Забыли пароль?
									label(for="form-password") Пароль
									.input-show
										input(type="password").form-control#form-password
										i.fa.fa-eye#show-password
								button(type="submit").btn.btn-primary Войти
								.text-md-center
									a(href="#") Регистрация
								a(href="home-not-logged.html").back Вернуться к сайту

							include ./components/social.jade
							
	script(type="text/javascript", src="js/jquery-3.3.1.min.js")
	script(type="text/javascript", src="js/ews.js")