html
	include ./components/head.jade

	body
		include ./components/header.jade

		.shops-list
			.container
				.row
					.col-md-12
						h3 Магазины

			.shops-brands
				.container
					.row
						.col-md-3
							include ./components/shops-filters.jade

						.col-md-9
							.row
								.col-md-4
									.shop-card
										.down -5%
										.image-container
											img(src="img/shop-1.png", alt="")
								.col-md-4
									.shop-card
										.up +5%
										.image-container
											img(src="img/shop-2.png", alt="")
								.col-md-4
									.shop-card
										.image-container
											img(src="img/shop-3.png", alt="")

								button.btn.btn-primary.add-to-cart
									span Купить
							.row
								.col-md-4
									.shop-card
										.image-container
											img(src="img/shop-3.png", alt="")
								.col-md-4
									.shop-card
										.down -5%
										.image-container
											img(src="img/shop-1.png", alt="")
								.col-md-4
									.shop-card
										.up +5%
										.image-container
											img(src="img/shop-2.png", alt="")

								button.btn.btn-primary.add-to-cart
									span Купить
			
		include ./components/footer.jade