html
	include ./components/head.jade

	body
		include ./components/header.jade

		.shops-list
			.container
				.row
					.col-md-12
						h3 Магазины

				.row
					.col-md-4.offset-md-4
						form.search-shop
							.form-group
								input(type="text", placeholder="Поиск магазинов").form-control
								button(type="submit").btn
									i.fa.fa-search

				.row
					.col-md-12
						.category-slider
							.slider
								.slide-item
									p Все
								.slide-item.active-item
									p Женская одежда
								.slide-item
									p Мужская одежда
								.slide-item
									p Детская одежда
								.slide-item
									p Товары для дома
								.slide-item
									p Спорт и досуг
								.slide-item
									p Мужская одежда

							.slider-nav
								.prev
									i.fa.fa-angle-left
								.next
									i.fa.fa-angle-right

			.shops-brands
				.container
					.row
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.down -5%
								.image-container
									img(src="img/shop-1.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.up +5%
								.image-container
									img(src="img/shop-2.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-3.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-1.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.up +5%
								.image-container
									img(src="img/shop-2.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-3.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.down -5%
								.image-container
									img(src="img/shop-1.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.up +5%
								.image-container
									img(src="img/shop-2.png", alt="")
						.col-md-3.col-sm-4.col-sm-6
							.shop-card
								.image-container
									img(src="img/shop-3.png", alt="")

		include ./components/footer.jade