header{
	background-color: $white;
	position: relative;
	z-index: 99;

	.shadows{
		box-shadow: 0 1px 8px 0 rgba(0,0,0,0.16);
		z-index: 3;
		padding: 12px 0;
		height: 68px;
	}

	.justify-align{
		text-align: justify;

		&:after{
			content: '';
			width: 100%;
			display: inline-block;
			height: 0;
		}
	}

	.toggle-menu{
		width: 32px;
		height: 32px;
		margin-left: 19px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;

		.line{
			height: 3px;
			background-color: $text-color;
			border-radius: 3px;
			margin-top: 6px;
			margin-left: 5px;
			@include mt(0.4s);

			&:first-child{
				width: 22px;
			}

			&:nth-child(2){
				width: 10px;
			}

			&:nth-child(3){
				width: 14px;
			}
		}

		&:hover{
			.line{
				@include mt(0.4s);

				&:first-child{
					width: 14px;
				}

				&:nth-child(2){
					width: 22px;
				}

				&:nth-child(3){
					width: 10px;
				}
			}
		}
	}

	.main-logo{
		width: 44px;
		height: 44px;
		display: inline-block;
		vertical-align: middle;

		img{
			width: 100%;
		}
	}

	.user{
		display: inline-block;
		vertical-align: middle;
		margin-right: 23px;

		a{
			color: $text-color;
			display: inline-block;
			vertical-align: middle;
		}

		.cart{
			color: $text-color;
			margin-right: 20px;
			position: relative;

			.count{
				width: 11px;
				height: 11px;
				background-color: #FF501A;
				border-radius: 50%;
				line-height: 11px;
				text-align: center;
				color: $white;
				position: absolute;
				text-align: center;
				top: -3px;
				right: -3px;
				@include fsr(8);

				&:empty{
					display: none;
				}
			}
		}

		.login{
			text-decoration: none;
			@include mt(0.2s);
			
			i{
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
				@include fsr(16);
			}

			&:hover{
				color: $blue-1;
				@include mt(0.4s);

				i{
					color: $blue-1;
				}
			}
		}

		i{
			color: $text-color;
			@include fsr(22);
		}
	}

	.user-menu{
		background-color: #F2F2F2;
		box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.2);
		max-height: 0;
		transition: max-height 0.25s ease-out;
		overflow: hidden;

		.user-info{
			padding-top: 22px;
			padding-bottom: 22px;

			p{
				margin: 0;
				line-height: 30px;
			}

			.user-id,
			.mail{
				color: $blue-1;
				line-height: 14px;
				@include fsr(12);
			}

			.mail{
				color: #9B9B9B;
				margin-top: 4px;
			}

			.other-actions{
				margin: 18px 0;
				padding: 1px 0;
				position: relative;

				&:before,
				&:after{
					content: '';
					position: absolute;
					left: -24px;
					right: -24px;
					height: 2px;
					background-color: $grey;
				}

				&:before{
					top: 0;
				}

				&:after{
					bottom: 0;
				}

				a{
					color: $text-color;
					display: block;
					margin: 18px 0;
					@include mt(0.2s);

					&:after{
						content: '';
						clear: both;
					}

					i{
						float: right;
						@include fsr(22);
					}

					&:hover{
						text-decoration: none;
						color: $blue-1;
						@include mt(0.2s);
					}
				}
			}

			.btn{
				width: 82px;
				height: 24px;
				line-height: 24px;
				padding-top: 0;
				padding-bottom: 0;
				@include fsr(12);
			}
		}
	}

	.nav{
		position: relative;
		z-index: -1;
		max-height: 0;
		transition: max-height 0.25s ease-out;
		overflow: hidden;

		.nav-item{
			opacity: 0;
			transform: scale(0.5, 0.5);
			@include mt(0.8s);
		}
	}

	&.user-menu-opened{
		.user-menu{
			max-height: 500px;
			transition: max-height 0.45s ease-in;
		}
	}

	&.menu-opened{
		.toggle-menu{
			.line{
				@include mt(0.4s);

				&:first-child{
					width: 14px;
				}

				&:nth-child(2){
					width: 22px;
				}

				&:nth-child(3){
					width: 10px;
				}
			}
		}

		.nav{
			max-height: 500px;
			transition: max-height 0.45s ease-in;

			.nav-item{
				opacity: 1;
				transform: scale(1, 1);
				@include mt(0.8s);
			}
		}
	}
}