.shops-filters{
	.top-actions{
		border-bottom: 1px solid #E8EBED;

		p,
		a{
			line-height: 40px;
			text-transform: uppercase;
			display: inline-block;
			margin: 0;
			@include fsr(11);
		}

		p{
			color: $text-color;
		}

		a{
			color: #FF6008;
			float: right;
		}

		&:after{
			content: '';
			clear: both;
		}
	}

	.search-filter{
		position: relative;
		margin-top: 5px;

		.form-control{
			border-radius: 2px;
			height: 40px;
			padding-left: 48px;
			padding-right: 10px;
			color: $text-color;
			border-color: #E8EBED;
			@include fsr(14);
		}

		.btn{
			width: 40px;
			height: 38px;
			padding: 0;
			left: 0;
			top: 1px;
			color: #4A4A4A;
			background-color: transparent;
			position: absolute;

			i{
				line-height: 38px;
			}
		}
	}

	.category-accordion{
		&.opened{
			.category-title{
				&:after{
					transform: rotate(0deg);
					@include mt(0.2s);
				}
			}
			.category-list{
				max-height: 2500px;
				transition: max-height 0.95s ease-in;
			}
		}

		.category-title{
			position: relative;
			cursor: pointer;

			h5{
				line-height: 40px;
				font-weight: 400;
			}

			&:after{
				height: 18px;
				top: 0;
				bottom: 0;
				margin-top: auto;
				margin-bottom: auto;
				position: absolute;
				right: 0;
				content: "\f107";
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transform: rotate(-180deg);
				@include mt(0.2s);
			}
		}
	}

	.category-list{
		// overflow-y: auto;
		max-height: 0;
		transition: max-height 0.95s ease-out;
		overflow: hidden;

		.form-group{
			margin: 0;
			.form-check{
				padding: 10px 0;
				margin: 0;

				label{
					padding-left: 32px;
					line-height: 18px;
					letter-spacing: 1.17px;
					position: relative;
					@include fsr(14);

					.checkbox-here{
						position: absolute;
						left: 0;
						top: 3px;
						bottom: 0;
						margin-top: auto;
						margin-bottom: auto;
					}
				}
			}
		}

		.buy-abc{
			span{
				line-height: 20px;
				cursor: pointer;
				font-weight: 300;
				margin-right: 5px;
				display: inline-block;
				vertical-align: top;
				@include fsr(16);
			}
		}
	}
}