.social{
	text-align: center;
	
	a{
		width: 23px;
		height: 23px;
		border-radius: 50%;
		color: #000000;
		margin: 0 9px;
		display: inline-block;
		vertical-align: middle;
		background-color: transparent;
		@include mt(0.2s);

		i{
			line-height: 23px;
		}

		&:hover{
			color: $text-color;
			background-color: rgba(0,0,0,0.06);
			@include mt(0.2s);
		}
	}
}