.cart-page{
	padding-top: 40px;
	padding-bottom: 170px;

	.cart-list{
		padding-top: 20px;

		.cart-titles,
		.cart-item{
			display: flex;
			flex-direction: row;
			width: 100%;

			.col-inside{
				display: inline-block;
				vertical-align: top;

				&:first-child{
					width: 59%;
				}

				&:nth-child(2){
					width: 38%;
				}
			}
		}

		.cart-titles{
			padding-left: 6px;
			padding-right: 10px;
			margin-bottom: 8px;

			h5{
				color: $text-color;
				line-height: 22px;
				@include fsr(18);
			}
		}

		.border-bottom{
			padding-bottom: 20px;
			border-bottom: 2px solid #E4EAEE;
		}

		.cart-item{
			padding:  8px 0 10px 0;
			position: relative;
			@include mt(0.2s);

			&:after{
				content: '';
				clear: both;
				display: block;
			}

			&:hover,
			&.show-fields,
			&.show-promo,
			&.show-comment{
				z-index: 4;
				box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.2);
				@include mt(0.4s);
			}

			.image-name{
				padding-left: 108px;
				position: relative;
				min-height: 92px;

				.product-image{
					position: absolute;
					width: 92px;
					height: 92px;
					left: 0;
					top: 0;
					margin-left: 6px;
					display: inline-block;
					vertical-align: top;

					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			.product-name{
				color: $blue-1;
				display: inline-block;
				vertical-align: middle;
				padding-top: 19px;
				line-height: 24px;
				@include fsr(16);
			}

			p{
				color: $text-color;
				line-height: 24px;
				margin: 0;
				padding-top: 19px;
				@include fsr(16);

				&.price{
					color: $blue-1;
					font-weight: 500;
				}
			}

			.promo-comment{
				.form-group{
					display: inline-block;
					vertical-align: top;
					margin: 0;
					padding-top: 5px;
					padding-right: 0;

					&:first-child{
						.btn{
							right: 20px;
						}
					}

					&:last-child{
						.form-control{
							margin-right: 0;
						}
					}

					.form-control{
						border: 1px solid #E8E8E8;
						height: 24px;
						width: 124px;
						padding: 0 24px 0 5px;
						margin-right: 12px;
						line-height: 14px;
						border-radius: 14px;
						background-color: #F2F2F2;
						color: $text-color;
						@include fsr(12);

						&.form-code{
							padding-left: 34px;
						}

						&:placeholder-shown{
							display: none;
							&~.icons,
							&~.btn{
								display: none;
							}
						}

						&:focus{
							color: $blue-1;

							&~.icons{
								&:before{
									opacity: 0;
								}

								&:after{
									opacity: 1;
								}
							}
						}
					}

					.btn{
						width: 13px;
						height: 13px;
						padding: 0;
						background-image: url(../img/remove-gift-promo.svg);
						background-repeat: no-repeat;
						background-size: cover;
						position: absolute;
						right: 8px;
						bottom: 6px;
						cursor: pointer;
					}

					.icons{
						position: absolute;
						bottom: 6px;

						&.promo-ico{
							width: 14px;
							height: 13px;
							left: 11px;

							&:before,
							&:after{
								width: 14px;
								height: 13px;
								content: '';
								position: absolute;
								left: 0;
								top: 0;
								background-repeat: no-repeat;
							}

							&:before{
								background-image: url(../img/promo.svg);
								opacity: 1;
								@include mt(0.2s);
							}

							&:after{
								background-image: url(../img/promo-a.svg);
								opacity: 0;
								@include mt(0.2s);
							}
						}

						&.gift-ico{
							width: 11px;
							height: 14px;
							left: 12px;

							&:before,
							&:after{
								width: 11px;
								height: 14px;
								content: '';
								position: absolute;
								left: 0;
								top: 0;
								background-repeat: no-repeat;
							}

							&:before{
								background-image: url(../img/gift.svg);
								opacity: 1;
								@include mt(0.2s);
							}

							&:after{
								background-image: url(../img/gift-a.svg);
								opacity: 0;
								@include mt(0.2s);
							}
						}
					}
				}
			}

			.form-group{
				padding-top: 19px;
				margin-top: -3px;
				position: relative;
				// padding-right: 50px;

				.default-price{
					position: absolute;
					top: 0;
					bottom: 0;
					line-height: 30px;
					left: 0;
					z-index: 2;
				}

				.form-control{
					pointer-events: none;
					border-color: transparent;
					display: inline-block;
					vertical-align: middle;
					color: $text-color;
					width: 100%;
					max-width: 90px;
					height: 30px;
					line-height: 30px;
					padding-left: 5px;
					padding-right: 5px;
					margin-left: -5px;
					background-color: $white;
					@include fsr(16);

					&:disabled{
						cursor: default;
					}

					&.price{
						width: 100%;
						padding-left: 20px;
						color: $blue-1;
						font-weight: 500;
					}
				}

				.img-btn{
					border: none;
					outline: none;
					background-image: cover;
					background-repeat: no-repeat;
					background-color: transparent;
					cursor: pointer;
					display: none;
					position: absolute;
					bottom: 9;

					&.save{
						width: 14px;
						height: 11px;
						right: 25px;
						background-image: url(../img/save.svg);
					}

					&.discard{
						width: 12px;
						height: 12px;
						right: 5px;
						background-image: url(../img/remove.svg);
					}
				}
			}

			.show-options{
				text-align: center;
				position: relative;
				top: 19px;
				right: 14px;
				position: absolute;
				cursor: pointer;

				&.opened{
					z-index: 4;
				}

				i{
					width: 30px;
					color: #9B9B9B;
					@include fsr(18);
				}

				.inside-box{
					display: none;
					background-color: $white-2;
					padding: 6px 12px;
					position: absolute;
					top: 100%;
					margin-top: 10px;
					right: 0;
					width: 129px;
					border-radius: 2px;
					box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);

					a{
						color: $text-color;
						line-height: 20px;
						display: block;
						margin: 6px 0;
						@include fsr(14);
						@include mt(0.2s);

						&:hover{
							text-decoration: none;
							color: $blue-1;
							@include mt(0.2s);
						}
					}
				}
			}

			&.show-promo{
				.promo-comment{
					.form-group{
						.form-control{
							pointer-events: auto;

							&.form-code{
								display: block;

								&~.icons,
								&~.btn{
									display: block;
								}
							}
						}
					}
				}
			}

			&.show-comment{
				.promo-comment{
					.form-group{
						.form-control{
							pointer-events: auto;

							&.form-comment{
								display: block;

								&~.icons,
								&~.btn{
									display: block;
								}
							}
						}
					}
				}
			}

			&.show-fields{
				.form-group{
					.form-control{
						pointer-events: auto;
						border-color: #9B9B9B;
					}

					.img-btn{
						display: inline-block;
					}
				}

				.show-options{
					display: none;
				}
			}
		}
	}

	.cart-price{
		margin-top: 22px;

		p,
		b{
			color: $blue-1;
			line-height: 24px;
			margin: 0;
			@include fsr(16);
		}

		b{
			font-weight: 500;
		}

		.price-actions{
			margin-top: 36px;
			padding: 14px 34px;
			background-color: $white-2;
			text-align: justify;

			&:after{
				content: '';
				display: inline-block;
				height: 0;
				width: 100%;
			}

			.buyer,
			.btn{
				display: inline-block;
				vertical-align: middle;
				margin: 10px 0;
			}

			.buyer{
				p,
				span{
					color: $text-color;
					margin: 0;

					i{
						margin-left: 14px;
					}
				}

				.drop-down{
					margin-top: 12px;
					position: relative;

					.visibled{
						position: relative;
						cursor: pointer;
					}

					.inside-box{
						display: none;
						background-color: $white-2;
						padding: 6px 12px;
						position: absolute;
						top: 100%;
						margin-top: 10px;
						right: 0;
						width: 129px;
						border-radius: 2px;
						box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);

						a{
							color: $text-color;
							line-height: 20px;
							display: block;
							margin: 6px 0;
							@include fsr(14);
							@include mt(0.2s);

							&:hover{
								text-decoration: none;
								color: $blue-1;
								@include mt(0.2s);
							}
						}
					}
				}
			}

			.btn{
				box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
				height: 52px;
				width: 215px;
			}
		}
	}
}