.faq-page{
	padding-top: 18px;
	padding-bottom: 100px;

	h3{
		padding-top: 22px;
	}

	.video-container{
		margin: 10px 0;

		&.bg{
			background-color: #F8F8F8;
			min-height: 362px;
			display: flex;

			i{
				margin: auto;
				display: block;
				opacity: 0.6;
				@include fsr(150);
			}
		}
	}

	.faq-accordion{
		margin-top: 20px;

		.card{
			margin-bottom: 6px;

			&:hover{
				box-shadow: none;
			}

			.card-body{
				ul{
					margin-left: 10px;
					padding-left: 15px;
				}

				li{
					margin: 20px 0;
				}

				ul,
				li,
				p{
					color: $text-color;
					line-height: 17px;
					@include fsr(14);
				}
			}
		}
	}

	.side-form{
		background-color: $white;
		padding: 0 22px 34px 22px;
		margin-top: 20px;
		box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);

		.form-group{
			margin-top: 20px;
			margin-bottom: 5px;

			&.checkbox-group{
				margin-top: 0;
			}

			label{
				sup{
					color: $orange-2;
				}
			}

			.form-control{
				height: 40px;
				@include mt(0.4s);

				&textarea{
					height: 160px;
					resize: none;
				}

				&.error{
					border-color: $orange-2;

					&+.form-text{
						opacity: 1;
						@include mt(0.2s);
					}
				}

				&:focus{
					border-color: $blue-1;
					@include mt(0.2s);
				}
			}

			textarea{
				&.form-control{
					height: 160px;
					resize: none;
				}
			}

			.form-text{
				color: $orange-2;
				opacity: 0;
				line-height: 13px;
				@include mt(0.4s);
				@include fsr(11);
			}
		}

		.btn{
			margin-top: 20px;
			width: 100%;
			height: 52px;
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
		}
	}
}