.home-page{
	.users-actions{
		padding-top: 40px;
		padding-bottom: 25px;

		.card{
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				background-color: rgba(0,0,0,0.5);
				box-shadow: 3px 3px 13px 0 rgba(0,0,0,0.16);
			}

			.card-img-overlay{
				.inside{
					margin: auto;
					padding-top: 50px;

					img{
						max-width: 67px;
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}

			&.big-card{
				height: 479px;
			}

			&.sm-card{
				margin-bottom: 25px;
				height: 227px;
			}
		}
	}

	.actual{

		.most-actual{
			max-width: 1400px;
			margin-left: auto;
			margin-right: auto;

			.row,
			.col-md-2{
				padding: 0;
			}

			a{
				display: inline-block;
				vertical-align: top;
				overflow: hidden;
				position: relative;
				width: 238px;

				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.3);
					opacity: 0;
					z-index: 2;
					@include mt(0.4s);
				}

				.inside{
					position: absolute;
					left: 33px;
					top: 33px;
					right: 33px;
					bottom: 33px;
					z-index: 3;
					opacity: 0;
					border: 1px solid $white;
					display: flex;
					@include mt(0.4s);

					.instagram{
						margin: auto;
						color: $white;
						@include fsr(22);
					}
				}

				&:hover{
					&:before{
						opacity: 1;
						@include mt(0.2s);
					}

					img{
						transform: scale(1.1, 1.1);
						@include mt(0.2s);
					}

					.inside{
						opacity: 1;
						@include mt(0.2s);
					}
				}
			}

			img{
				max-width: 100%;
				@include mt(0.4s);
			}
		}
	}
}