
.login-page{
	min-height: 100vh;
	background-image: url(../img/login-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 100%;
	overflow: hidden;
	position: relative;

	.white-back{
		background-color: $white;
		width: 70%;
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		bottom: 0;
		height: 300%;
	}

	.container{
		z-index: 3;
		position: relative;
	}

	.logo{
		max-width: 192px;
		display: block;
		margin: 120px auto 100px auto;

		img{
			width: 100%;
		}
	}

	form{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		.form-group{
			color: $text-color;
			margin-bottom: 34px;
			@include fsr(16);

			label{
				margin-bottom: 5px;
			}

			a{
				line-height: 19px;
				color: $blue-1;
			}

			.forgot-password{
				float: right;
			}

			.input-show{
				position: relative;

				.fa{
					position: absolute;
					right: 16px;
					top: 0;
					cursor: pointer;
					height: 16px;
					bottom: 0;
					margin-top: auto;
					margin-bottom: auto;
					color: #000000;
				}
			}
		}

		.btn{
			max-width: 240px;
			width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 17px;
			height: 52px;
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
		}

		.back{
			padding-left: 31px;
			margin-top: 46px;
			display: inline-block;
			background-image: url(../img/back-line.svg);
			background-repeat: no-repeat;
			background-position: left center;
			min-height: 12px;
			color: $text-color;
			@include fsr(14);
		}
	}

	.social{
		margin-top: 50px;
	}
}