.shops-list{
	padding-top: 40px;

	.search-shop{
		margin-bottom: 24px;
		
		.form-control{
			text-align: center;
		}
	}

	.search-filter,
	.search-shop{
		position: relative;
		margin-top: 5px;

		.form-control{
			border-radius: 2px;
			height: 40px;
			padding-left: 48px;
			padding-right: 10px;
			color: $text-color;
			border-color: #E8EBED;
			@include fsr(14);
		}

		.btn{
			width: 40px;
			height: 38px;
			padding: 0;
			left: 0;
			top: 1px;
			color: #4A4A4A;
			background-color: transparent;
			position: absolute;
			border: none;

			i{
				line-height: 38px;
			}
		}
	}

	.category-slider{
		padding: 18px 122px 17px 18px;
		background-color: #F2F2F2;
		position: relative;

		.slider-nav{
			height: 20px;
			position: absolute;
			right: 24px;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;

			.prev,
			.next{
				width: 20px;
				height: 20px;
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;

				i{
					width: 20px;
					line-height: 20px;
					text-align: center;
					color: #9B9B9B;
				}
			}

			.prev{
				margin-right: 6px;
			}
		}

		.slide-item{
			margin: 0 20px;
			border-bottom: 2px solid transparent;

			&.active-item{
				border-color: $blue-1;
				
				p{
					color: $blue-1;
				}
			}

			p{
				margin: 0;
				letter-spacing: 1.17px;
				line-height: 38px;
				@include fsr(14);
			}
		}
	}

	.shops-brands{
		padding: 50px 0;

		.shop-card{
			height: 163px;
			border: 1px solid #F2F2F2;
			display: flex;
			position: relative;
			margin-bottom: 25px;

			.up,
			.down{
				position: absolute;
				top: 12px;
				right: 6px;
				z-index: 2;
				padding: 0 16px;
				border-radius: 13px;
				@include fsr(12);
			}

			.up{
				color: $blue-2;
				border: 1px solid $blue-2;
			}

			.down{
				color: $orange-2;
				border: 1px solid $orange-2;
			}

			.image-container{
				max-width: 125px;
				margin: auto;

				img{
					object-fit: cover;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}