header
	.justify-align.shadows
		.toggle-menu#toggle-menu
			.line
			.line
			.line

		.main-logo
			a(href="home.html")
				img(src="img/logo.svg", alt="")

		.user
			a(href="cart.html").cart
				span.count 2
				i.fa.fa-shopping-cart

			a(href="#").login#show-user User
				i.fa.fa-caret-down

	.user-menu
		.container
			.row
				.col-md-4.offset-md-4.col-sm-6.offset-sm-3
					.user-info
						p.user-id.text-md-right User ID 102371
						p Имя
						p Фамилия
						p.mail your-email@domain.com
						.other-actions
							a(href="#") Настройки профиля
								i.fa.fa-angle-right
							a(href="#") Помощь
								i.fa.fa-angle-right
						a(href="login.html").btn.btn-primary Выйти
					

	nav.nav
		.container
			.row
				.col-md-12
					.nav-inline
						li.nav-item
							a(href="shops.html").nav-link Магазины
						li.nav-item
							a(href="cart.html").nav-link Корзина
						li.nav-item
							a(href="#").nav-link Мои заказы
						li.nav-item
							a(href="#").nav-link Оплата
						li.nav-item
							a(href="#").nav-link Скидки
						li.nav-item
							a(href="#").nav-link Новости
						li.nav-item
							a(href="faq.html").nav-link Помощь
