header
	.justify-align.shadows
		.toggle-menu
			.line
			.line
			.line

		.main-logo
			a(href="home.html")
				img(src="img/logo.svg", alt="")

		.user
			a(href="#").cart
				span.count
				i.fa.fa-shopping-cart

			a(href="#").login Login

	nav.nav
		.container
			.row
				.col-md-12
					.nav-inline
						li.nav-item
							a(href="shops.html").nav-link Магазины
						li.nav-item
							a(href="cart.html").nav-link Корзина
						li.nav-item
							a(href="#").nav-link Мои заказы
						li.nav-item
							a(href="#").nav-link Оплата
						li.nav-item
							a(href="#").nav-link Скидки
						li.nav-item
							a(href="#").nav-link Новости
						li.nav-item
							a(href="faq.html").nav-link Помощь
