head
	title Katorg
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", type="text/css", href="css/main.min.css")
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")