.shops-filters
	.top-actions
		p Фильтр
		a(href="#").clear-filters сбросить

	.search-filter
		.form-group
			input(type="text", placeholder="Поиск магазинов").form-control
			button(type="submit").btn
				i.fa.fa-search

	.category-accordion
		.category-title
			h5 Категории

		.category-list
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Женская одежда
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Мужская одежда 
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Детская одежда 
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Обувь
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Домашняя одежда
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Товары для дома
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Спорт и досуг
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Красота и здоровье
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Сумки и чемоданы
						
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Товары для дома

	.category-accordion.opened
		.category-title
			h5 Бренды

		.category-list
			.buy-abc
				span A
				span B
				span C
				span D
				span E
				span F
				span G
				span H
				span I
				span J
				span K
				span L
				span M
				span N
				span O
				span P
				span Q
				span R
				span S
				span T
				span U
				span V
				span W
				span X
				span Y
				span Z
			
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| PREMIUM бренды

	.category-accordion
		.category-title
			h5 Страны

		.category-list
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Англия
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Италия

	.category-accordion
		.category-title
			h5 Магазины

		.category-list
			.form-group
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Магазин 1
				.form-check
					label.form-check-label
						input(type="checkbox").form-check-input
						.checkbox-here
							img(src="img/checkbox.svg", alt="")
							i.fa.fa-check
						| Магазин 2