
$white: #ffffff;

$green-1: #C4D682;
$green-2: #9CB92D;

$blue-1: #003462;
$blue-2: #005895;

$grey: #E9E9E9;

$white-1: #FDFDFD;
$white-2: #F2F2F2;

$orange-1: #FF6B1A;
$orange-2: #FF501A;

$text-color: #4A4A4A;
