@media only screen and (max-width : 1024px){
	.cart-page{
		.cart-list{
			.cart-item{
				.form-group{
					.form-control{
						position: relative;
						display: block;
					}

					.img-btn{
						position: static;
						margin: 5px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width : 992px){
	header{
		.nav{
			.container{
				max-width: 100%;
			}
		}
	}
	.login-page{
		.white-back{
			width: 66%;
		}

		.logo{
			margin: 60px auto 50px auto;
		}
	}
}

@media only screen and (max-width : 768px){
	header{
		.nav{
			.nav-inline{
				flex-direction: column;
			}
			
			.nav-item{
				display: block;
				margin: 10px 0;

				&+.nav-item{
					margin-left: 0;
				}
			}
		}
	}

	h3{
		line-height: 25px;
		@include fsr(21);
	}

	.home-page{
		.users-actions{
			.card{
				.card-img-overlay{
					padding: 0;

					.inside{
						padding-top: 20px
					}
				}

				.card-title{
					@include fsr(22);
				}

				&.big-card{
					margin-bottom: 25px;
					height: 227px;
				}
			}
		}
	}

	.cart-page{
		.cart-list{
			.cart-titles{
				display: none;
			}
			.cart-item{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				.col-inside{
					width: 100%;
					display: block;

					&:first-child{
						width: 100%;
					}

					.form-group{
						margin-bottom: 0;
						padding-top: 0;
					}

					p{
						padding-top: 0;
					}
				}

				.flex-1{
					order: 1;
					// margin-bottom: -108px;

					.image-name{
						padding: 0;
						display: flex;
						flex-direction: column;

						.product-image{
							order: 1;
							position: static;
						}
					}
				}

				.flex-2{
					order: 3;
					margin-top: -60px;
				}

				.flex-3{
					order: 4;
					margin-top: -15px;
				}

				.flex-3,
				.flex-4{
					.form-group{
						padding-right: 50px;
						display: inline-block;

						.img-btn{
							position: absolute;
							margin: 0;
						}
					}
				}

				.flex-4{
					order: 2;
					margin-top: -90px;
				}

				// .image-name{
				// 	padding-left: 108px;
				// 	display: block;

				// 	.product-image{
				// 		position: absolute;
				// 	}
				// }
			}
		}
	}
}

@media only screen and (max-width : 568px){
	.login-page{
		background-image: none;

		.logo{
			max-width: 140px;
		}
	}

	.home-page{
		.users-actions{
			.card{
				&.big-card,
				&.sm-card{
					height: 170px;
				}
			}
		}
	}

	// .cart-page{
	// 	.cart-list{
	// 		.cart-item{
	// 			display: flex;
	// 			flex-direction: row;
	// 			flex-wrap: wrap;

	// 			.col-inside{
	// 				width: 100%;
	// 				display: block;

	// 				&:first-child{
	// 					width: 100%;
	// 				}

	// 				.form-group{
	// 					margin-bottom: 0;
	// 					padding-top: 0;
	// 				}

	// 				p{
	// 					padding-top: 0;
	// 				}
	// 			}

	// 			.flex-1{
	// 				order: 1;
	// 				margin-bottom: -108px;

	// 				.image-name{
	// 					padding-bottom: 108px;

	// 					.product-image{
	// 						bottom: 15px;
	// 						position: absolute;
	// 						top: auto;
	// 					}
	// 				}
	// 			}

	// 			.flex-2{
	// 				order: 3;
	// 			}

	// 			.flex-3{
	// 				order: 4;

	// 				.form-group{
	// 					padding-right: 50px;
	// 					display: inline-block;

	// 					.img-btn{
	// 						position: absolute;
	// 						margin: 0;
	// 					}
	// 				}
	// 			}

	// 			.flex-4{
	// 				order: 2;
	// 			}

	// 			// .image-name{
	// 			// 	padding-left: 108px;
	// 			// 	display: block;

	// 			// 	.product-image{
	// 			// 		position: absolute;
	// 			// 	}
	// 			// }
	// 		}
	// 	}
	// }
}